<div class="bottom">
  <div class="social">
    <span
      ><a href="https://www.facebook.com/"
        ><img src="/public/social/facebook.png" width="35px" height="35px" /></a
    ></span>
    <span
      ><a href="https://instagram.com/"
        ><img
          src="/public/social/instagram.png"
          width="35px"
          height="35px" /></a
    ></span>
    <span
      ><a href="https://www.linkedin.com/"
        ><img src="/public/social/linkedin.png" width="35px" height="35px" /></a
    ></span>
    <span
      ><a href="https://twitter.com/?lang=en"
        ><img src="/public/social/twitter.png" width="35px" height="35px" /></a
    ></span>
    <span
      ><a href="https://youtube.com/"
        ><img src="/public/social/youtube.png" width="35px" height="35px" /></a
    ></span>
    <span
      ><a href="/home"
        ><img src="/public/icon.png" width="35px" height="35px" /></a
    ></span>
  </div>

  <p>No CopyRights</p>
  <p>No Rights Reserved. Powered by <span>Geazy productions</span></p>
</div>
