<div class="foot">
<footer>
    <div>
    <span>made with </span>
    <span><img src="http://localhost:3000/public/heart.svg" alt="love"></img></span>
    <span> by ☺Geazyy☻ </span>
    
    </div>
  </footer>
</div>

