<%- include('partials/header'); -%>

<header>
  <div class>
    <img src="http://localhost:3000/public/icon2.png" alt="" />
  </div>
  <div class="headings">
    <h2>Geazy Games</h2>
    <h3>the world's largest retail gaming destination</h3>
    <a href="/login" class="btn">View products</a>
  </div>
</header>

<%- include('partials/footer'); -%>
